@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
    font-family: "Ubuntu", sans-serif;
}
.btn {
    --color: rgb(56,160,245);
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    margin: 20px;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
}

.btn::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
}

.btn:hover {
    color: white;
}

.btn:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
}

.btn:hover::before {
    top: -30px;
    left: -30px;
}

.btn:disabled {
	color: var(--color);
    opacity: 0.5;
    cursor: not-allowed;
}

.btn:disabled::before {
    display: none;
}

.btn-2 {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #009dff;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #009dff;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  .btn-2:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #009dff;
    z-index: -1;
  }
  
  .btn-2:hover, .btn-2:active {
    color: rgb(0, 0, 0);
  }
  
  .btn-2:hover:before, .btn-2:active:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
  .btn-2:active {
    transform: scale(0.9);
  }